article {
    display: flex;
    border-radius: .5rem;
    background-color: var(--bg-article);
    margin: 3rem 0;
}

a.article__link {
    display: flex;
    text-decoration: none;
}


.article__img,
.article__content {
    flex: 1;
}

.article__img {
    width: 50%;
    min-width: 500px;
    height: 350px;
    object-fit: cover;

    border-radius: .5rem 0 0 .5rem;
}

.article__content {
    width: 50%;
    padding: 1rem 4rem 0;
}

.article__title {
    font-family: 'Cabin', sans-serif;
    font-size: var(--text-2xl);
    color: var(--black);
    margin-bottom: .5rem;
}

.article__text {
    font-size: var(--text-sm);
    color: var(--gray);
    line-height: 1.7;
}