{% extends 'galeria/base.html' %}
{% load static %}

{% block title%} {{article.title}} {% endblock %}

{% block content %}
<div class="container">
    <div class="article__container">
        {% if article.image_file %}
        <img src="{{article.image_file.url}}" alt="img-article" class="article__img">
        {% else %}
        <img src="{% static 'assets/placeholder.jpg' %}" class="article__img">
        {% endif %}

        <div class="d-flex justify-content-between">
            <span>{{article.created_at}}</span>
            {% if user.is_authenticated %}
            <div class="d-flex gap-3">
                <a href="{% url 'edit-image' article.id %}" class="btn btn-primary">Editar</a>
                <button class="btn btn-danger">Excluir</button>
            </div>
            {% endif %}
        </div>
        <span>{{article.category}}</span>

        <div>
            <h1 class="article__title">{{article.title}}</h1>
            <p class="article__text">{{article.content}}</p>
        </div>
    </div>
</div>
{% endblock %}