{% extends 'galeria/base.html' %}
{% load static %}

{% block title%} Space {% endblock %}

{% block content %}
<main class="container">
    {%include '_messages.html' %}

    {% include 'filter.html' %}


    {% if articles %}
    {% for article in articles %}
    <input type="hidden" name="article_text" class="article_content" value="{{article.content}}">
    <article>
        <a href="{% url 'article' article.id %}" class="article__link row w-100">
            {% if article.image_file %}
            <img src="{{article.image_file.url}}" alt="img-article" class="article__img col-sm-12 col-md-6">
            {% else %}
            <img src="{% static 'assets/placeholder.jpg' %}" class="article__img col-sm-12 col-md-6">
            {% endif %}

            <div class="article__content col-sm-12 col-md-6">
                <span>{{article.category}}</span>
                <h1 class="article__title">{{article.title}}</h1>
                <p class="article__text"></p>
            </div>
        </a>
    </article>
    {% endfor %}

    {% else %}
    <h1>Sem conteúdo, irmão!</h1>
    {% endif %}
</main>
{% endblock %}

{% block scripts%}
<script>
    const content = document.querySelector('.article_content').value;
    const article_text = document.querySelector('p.article__text');

    function limitText(text, maxLength) {
        /**
        * Limita o número de caracteres de um texto e adiciona reticências ao final.
        *
        * @param {string} text O texto que será limitado.
        * @param {number} maxLength O número máximo de caracteres permitidos.
        *
        * @returns {string} O texto limitado com reticências ao final, caso ultrapasse o limite de caracteres.
        */

        if (text.length > maxLength) {
            text = text.substring(0, maxLength) + "...";
        }
        return text;
    }

    article_text.innerHTML = limitText(content, 750)

</script>
{% endblock %}