<header class="container header w-100">
    <div class="header__search">
        <form action="{% url 'search' %}" class="row gap-sm-1 gap-md-0 justify-content-end flex-md-row">
            <div class="col-sm-12 col-md-8">
                <input class="input__search w-100" type="search" name="search" id="search" placeholder="O que você procura?">
            </div>
            <div class="col-sm-12 col-md-4">
                <button class="search-btn w-100" type="submit">Pesquisar</button>
            </div>
        </form>
    </div>

    <nav class="nav">
        <a href="{% url 'index' %}" class="nav__logo">Space</a>

        {% if user.is_authenticated %}
        <ul class="nav__menu">
            <li class="nav__menu__item">
                <a href="#">Home</a>
            </li>

            <li class="nav__menu__item new-image">
                <a href="{% url 'new-image' %}">Novo Artigo</a>
            </li>

            <li class="nav__menu__item">
                <a href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
        {% else %}
        <ul class="nav__menu">
            <li class="nav__menu__item">
                <a href="#">Home</a>
            </li>

            <li class="nav__menu__item">
                <a href="{% url 'register' %}">Cadastro</a>
            </li>

            <li class="nav__menu__item">
                <a href="{% url 'login' %}">Login</a>
            </li>
        </ul>
        {% endif %}
    </nav>
</header>