<ul class="list-unstyled d-flex gap-3">
    <li>
        <a href="{% url 'filter-category' 'FRONTEND' %}">
            <span class="badge bg-secondary rounded-pill">FRONT-END</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'BACKEND' %}">
            <span class="badge bg-secondary rounded-pill">BACK-END</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'FULLSTACK' %}">
            <span class="badge bg-secondary rounded-pill">FULL-STACK</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'PYTHON' %}">
            <span class="badge bg-secondary rounded-pill">PYTHON</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'DJANGO' %}">
            <span class="badge bg-secondary rounded-pill">DJANGO</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'JAVASCRIPT' %}">
            <span class="badge bg-secondary rounded-pill">JAVASCRIPT</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'REACTJS' %}">
            <span class="badge bg-secondary rounded-pill">REACTJS</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'REACTNATIVE' %}">
            <span class="badge bg-secondary rounded-pill">REACT NATIVE</span>
        </a>
    </li>

    <li>
        <a href="{% url 'filter-category' 'NODEJS' %}">
            <span class="badge bg-secondary rounded-pill">NODEJS</span>
        </a>
    </li>
</ul>