{% extends 'galeria/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="article__container">
            <img src="{% static 'assets/img01.jpg' %}" alt="" class="article__img">

            <div>
                <h1 class="article__title">Andromeda Galaxy</h1>
                <p class="article__text">
                    A galáxia de Andrômeda (português brasileiro) ou galáxia de Andrómeda (português europeu) (Messier 31, NGC 224) é uma galáxia espiral localizada a cerca de 2,54 milhões de anos-luz de distância da Terra, na direção da constelação de Andrômeda. É a galáxia espiral mais próxima da Via Láctea e seu nome é derivado da constelação onde está situada, que, por sua vez, tem o nome derivado da princesa mitológica Andrômeda. É a maior galáxia do Grupo Local, que também contém a Via Láctea, a galáxia do Triângulo e aproximadamente 30 outras menores. O levantamento feito pelo Telescópio Espacial Spitzer em 2006 determinou que sua massa é de aproximadamente ~0,8-1,5 × 1012 massas solares enquanto a Via Láctea tem uma massa estimada em 8,5 × 1011 massas solares. Sua população estelar atinge aproximadamente 1 trilhão de estrelas enquanto a Via Láctea conta com algo entre 200 a 400 bilhões de estrelas.[nota 1]

Com uma magnitude aparente de 3,4, é um dos objetos astronômicos mais brilhantes do catálogo de objetos do céu profundo do astrônomo francês Charles Messier, visível a olho nu na ausência da Lua. Possui entre 180 e 220 mil anos-luz de diâmetro e uma magnitude absoluta de -21,4.</p>
            </div>
        </div>
    </div>
{% endblock %}