{% extends 'galeria/base.html' %}
{% load static %}

{% block content %}
    <main class="container">
        <article>
            <a href="{% url 'article' %}" class="article__link">
                <img src="{% static '/assets/img01.jpg' %}" alt="img-article" class="articles__img">

                <div class="article__content">
                    <h1 class="article__title">Andromeda Galaxy</h1>
                    <p class="article__text">A galáxia de Andrômeda (português brasileiro) ou galáxia de Andrómeda (português europeu) (Messier 31, NGC 224) é uma galáxia espiral localizada a cerca de 2,54 milhões de anos-luz de distância da Terra, na direção da constelação de Andrômeda. É a galáxia espiral mais próxima da Via Láctea e seu nome é derivado da constelação onde está situada, que, por sua vez, tem o nome derivado da princesa mitológica Andrômeda. É a maior galáxia do Grupo Local, que também contém a Via Láctea, a galáxia do Triângulo...</p>
                </div>
            </a>
        </article>

        <article>
            <a href="{% url 'article' %}" class="article__link">
                <img src="{% static '/assets/img02.jpg' %}" alt="img-article" class="articles__img">

                <div class="article__content">
                    <h1 class="article__title">Supernova</h1>
                    <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In voluptatem inventore quod asperiores voluptate similique corporis amet vero distinctio sunt aliquam, nobis voluptatum. Rem, amet dolor illo corporis et aliquid?</p>
                </div>
            </a>
        </article>
    </main>

{% endblock %}
</body>
</html>